[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group user/Antonio Barone (syntonyze)
	owner = group user/barbasa (barbasa)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Antonio Barone (syntonyze)
	label-Code-Review = -2..+2 group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group user/barbasa (barbasa)
	label-Verified = -1..+1 group user/Antonio Barone (syntonyze)
	label-Verified = -1..+1 group user/barbasa (barbasa)
	push = group user/Antonio Barone (syntonyze)
	push = group user/barbasa (barbasa)
	read = group user/Antonio Barone (syntonyze)
	read = group user/barbasa (barbasa)
	rebase = group user/Antonio Barone (syntonyze)
	rebase = group user/barbasa (barbasa)
	removeReviewer = group user/Antonio Barone (syntonyze)
	removeReviewer = group user/barbasa (barbasa)
	submit = group user/Antonio Barone (syntonyze)
	submit = group user/barbasa (barbasa)
[access "refs/heads/*"]
	create = group user/Antonio Barone (syntonyze)
	create = group user/barbasa (barbasa)
	push = group user/Antonio Barone (syntonyze)
	push = +force group user/barbasa (barbasa)
	pushMerge = group user/Antonio Barone (syntonyze)
	pushMerge = group user/barbasa (barbasa)
	read = group user/Antonio Barone (syntonyze)
	read = group user/barbasa (barbasa)
[access "refs/tags/*"]
	push = group user/Antonio Barone (syntonyze)
	push = group user/barbasa (barbasa)
	push = +force group user/barbasa (barbasa)
